@import '~antd/dist/antd.css';

.logo {
  width: 130px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  float: left;
  color: white;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
